{% extends "base.html" %}
{% block blurb %}
<font size="4"><img data-emoji="💡" style="height: 1.2em;width: 1.2em;vertical-align: middle;" alt="💡" aria-label="💡"
    src="https://fonts.gstatic.com/s/e/notoemoji/14.0/1f4a1/32.png" loading="lazy">&nbsp;
</font>Tackle's&nbsp;<a href="https://hubs.ly/Q01hDnRF0" color="#209db2" style="color:rgb(32,157,178)" target="_blank"
  data-saferedirecturl="https://www.google.com/url?q=https://hubs.ly/Q01hDnRF0&amp;source=gmail&amp;ust=1659013299277000&amp;usg=AOvVaw1-2EyvdFRyVMOI3cOrWC_G"><b>2022
    State of Cloud Marketplaces Survey</b></a><span style="font-size:medium">&nbsp;</span>is
now open!&nbsp;If
you are selling or buying through the Marketplaces, we're
looking for your input (and we're giving away two $250 gift
cards + advanced access to the resulting report to sweeten the
deal).&nbsp;<br>
{% endblock %}
